@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);

.logo {
    width: 70px;
}

header h1 {
    color: #c9c983;
    font-family:'Satisfy', cursive;
    margin-top: 20px;
}

.nav-pills > li.active > a {
    color: #5c435c;
    background-color: #eeddcd;
}
.nav-pills > li.active > a:hover, 
.product button:hover,
footer a:hover {
    background-color: #eeddcd;
    color: #5c433f;
}
.jumbotron {
    background-image: url(../img/hero.jpg);
    height: 450px;
    background-position: center;
}

.jumbotron h2 {
    color:#fff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}